
.jumbotron{

    text-align: center;
    margin-top: 17%;
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(87,240,72,1) 0%, rgba(57,242,41,1) 30%, rgba(14,156,57,1) 75%);


}
.mb-3{
    text-align: center;
    margin-top: 17%;
    width: 30%;
    margin-left: 34%;
    background-color: aliceblue;
}
.col{
    text-align: center;
    margin-top: -5%;
    width: 30%;
}
body{
    background: linear-gradient(90deg, rgba(87,240,72,1) 0%, rgba(57,242,41,1) 30%, rgba(14,156,57,1) 75%);
}
