*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(255, 175, 55);
    background: linear-gradient(90deg,  rgb(255, 175, 55) 0%, rgb(242, 205, 41) 30%, rgb(197, 194, 19) 75%);
    box-shadow: 0px 3px 10px ;
}
.nav-bar{
    justify-content: space-between;
    display: flex;
    padding: 3rem 6rem;
    
}
.menu{
    display: flex;
    align-items: center;
    
}
.nav-list{
    display: flex;
    align-items: center;
    
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.nav-item{
    margin: 0 15px;
    
    
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: aliceblue;
    
}

body{
    background: linear-gradient(90deg, rgba(87,240,72,1) 0%, rgba(57,242,41,1) 30%, rgb(2, 131, 45) 75%);
}
.link{
    text-decoration: none;
    text-align: center;
}