body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,67,1) 25%, rgba(0,212,255,1) 100%);
    
}

div {
    width:20%;
    padding: 15px 0;
    background: #c7efd0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 0  auto;
    position: absolute;
    top: 30%;
    left: 40%;
}

